@font-face {
	font-family: "Minecraftia";
	src:
		url("/fonts/minecraftia/minecraftia.woff2") format("woff2"),
		url("/fonts/minecraftia/minecraftia.woff2") format("woff");
	font-weight: normal;
	font-style: normal;
}
